@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .no-border-on-last-child:last-child {
        border-right: none;
    }

    .table-heading-cols:nth-child(5) {
        justify-content: center;
    }

    .table-heading-cols:nth-child(6) {
        justify-content: center;
    }

    .table-heading-cols:nth-child(7) {
        justify-content: center;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #16181F;
    height: auto;
    min-height: 100vh;
}